{% extends "base.html" %} 

{% block content %}

    <h1>Add a Blog Entry</h1>

    
        <form method='post' action="/newpost">
            <div>
                <label>Title for your new blog:
                    <div><input type="text" name='blog-name' value="{{blog_name}}"/></div>
                </label>
            </div>
            <p class="error">{{error_title}}</p>
            <div>
                <label>Your new blog:
                    <div><textarea name="blog-message">{{blog_message}}</textarea></div>
                </label>
            </div>
            <p class="error">{{error_content}}</p>
            <input type="submit" value='Add Blog' />
        </form>
    

{% endblock %}