{% extends "base.html" %}

{% block content %}
<h2 class="center">Welcome to blogz please enter your info below</h2>
<p>Already have an account? <a href="/login">Login.</a></p>

<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input name="username" type="text" value="{{username}}">

    <label for="password">Password</label>
    <input name="password" type="password">

    <label for="verify">Verify Password</label>
    <input name="verify" type="password">

    <input type="submit" value="Sign Up">
</form>
{% endblock %}